body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Loading Styles */
.error-text-container {
    margin-top: 40px; /* Add margin to match landing page */
}

.error-log-container {
    display: block;
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto 0; /* Center horizontally and add top margin */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    white-space: pre-wrap;
}

.error-title {
    font-size: 32px;
    font-weight: bold;
    color: #ff1100;
    margin: 0;
    margin-bottom: 20px; /* Add margin between the heading and loading text */
    text-align: center;
}

.error-text {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}
