<!DOCTYPE html>
<html>
<head>
    <title>CaptionAI - Temp</title>
    <!-- Need to change to dynamic url -->
    <link rel="stylesheet" type="text/css" href="results1.css">

   
</head>
<body>
    <div class="banner-container">
        <h1>Your results are in!</h1>
    </div>

    <div class="result-container">
        <div class="image-container">
            <h2>Your requested image:</h2>
                <img src="https://img.freepik.com/free-photo/red-white-cat-i-white-studio_155003-13189.jpg?w=826&t=st=1691957965~exp=1691958565~hmac=81e1fe541a60726d950508398acb9c624dcdd3a9fc3b6a98c531f55cad05dd9f" height="100px">
        </div>
        <div class="response-container">
            <h2>Your witty captions:</h2>
            <p class="caption">Example caption 1</p> 
            <p class="caption">Example caption 2</p> 
            <p class="caption">Example caption 3</p> 
            <p><em>Caption API response time: {{ cap_response_time }} seconds</em></p>
            <h2>Info on the summarizer:</h2>
            <p>Summary: {{ summary}}</p>  
            <p><em>Summary API response time: {{ sum_response_time }} seconds</em></p>
        </div>
        



    </div>
    <div class = "footer">
        <a href="{{ url_for('landing_page') }}">Return to home</a>
    </div>
</body>
</html>